[Desktop Entry]
Name=HelloWorld
Exec=webapp-container --app-id="helloworldtest.kaputnikgo" $@ www/index.html
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
